<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/55cf989cad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 0.5px solid rgba(220, 220, 220, 0.5); background-color: white;">
        <div class="container-fluid"> <!--change if you want to center navbar or not-->
            <a class="navbar-brand" href="#"> <!--href allows pgae to return to top-->
                <img src="{{url_for('static', filename='images/ChatGPT_logo.svg.png')}}" alt="" width="30" height="30">
                GPT Translator
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <ul class="nav nav-pills mx-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="text_file(event)">
                <i class="fas fa-language fa-xl mx-0.5 my-icon-language"></i>
                Text
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                <i class="fa-regular fa-file-lines mx-0.5 my-icon-file"></i>
                Documents
            </button>
        </li>
    </ul>
    <div class="container-fluid" style="margin-left:0; margin-right: 0;">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link from-language-bar" aria-current="page" href="#">Detected Language</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link from-language-bar" aria-current="page" href="#">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link from-language-bar" aria-current="page" href="#">Spanish</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle language-bar" id="dropdownMenuLink" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                          <ul id="myDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><input type="text" placeholder="Search..." style="padding: 20px 16px;" id="myInput" onkeyup="filterFunction()"  autocomplete="off"></li>
                              <li><a class="dropdown-item" href="#afrikaans">Afrikaans</a></li>
                              <li><a class="dropdown-item" href="#albanian">Albanian</a></li>
                              <li><a class="dropdown-item" href="#arabic">Arabic</a></li>
                              <li><a class="dropdown-item" href="#armenian">Armenian</a></li>
                              <li><a class="dropdown-item" href="#azerbaijani">Azerbaijani</a></li>
                              <li><a class="dropdown-item" href="#belarusian">Belarusian</a></li>
                              <li><a class="dropdown-item" href="#bengali">Bengali</a></li>
                              <li><a class="dropdown-item" href="#bulgarian">Bulgarian</a></li>
                              <li><a class="dropdown-item" href="#burmese">Burmese</a></li>
                              <li><a class="dropdown-item" href="#catalan">Catalan</a></li>
                              <li><a class="dropdown-item" href="#chinese">Chinese</a></li>
                              <li><a class="dropdown-item" href="#croatian">Croatian</a></li>
                              <li><a class="dropdown-item" href="#czech">Czech</a></li>
                              <li><a class="dropdown-item" href="#danish">Danish</a></li>
                              <li><a class="dropdown-item" href="#dutch">Dutch</a></li>
                              <li><a class="dropdown-item" href="#estonian">Estonian</a></li>
                              <li><a class="dropdown-item" href="#filipino">Filipino</a></li>
                              <li><a class="dropdown-item" href="#finnish">Finnish</a></li>
                              <li><a class="dropdown-item" href="#french">French</a></li>
                              <li><a class="dropdown-item" href="#georgian">Georgian</a></li>
                              <li><a class="dropdown-item" href="#german">German</a></li>
                              <li><a class="dropdown-item" href="#greek">Greek</a></li>
                              <li><a class="dropdown-item" href="#hebrew">Hebrew</a></li>
                              <li><a class="dropdown-item" href="#hindi">Hindi</a></li>
                              <li><a class="dropdown-item" href="#hungarian">Hungarian</a></li>
                              <li><a class="dropdown-item" href="#icelandic">Icelandic</a></li>
                              <li><a class="dropdown-item" href="#indonesian">Indonesian</a></li>
                              <li><a class="dropdown-item" href="#italian">Italian</a></li>
                              <li><a class="dropdown-item" href="#japanese">Japanese</a></li>
                              <li><a class="dropdown-item" href="#kazakh">Kazakh</a></li>
                              <li><a class="dropdown-item" href="#korean">Korean</a></li>
                              <li><a class="dropdown-item" href="#kyrgyz">Kyrgyz</a></li>
                              <li><a class="dropdown-item" href="#latvian">Latvian</a></li>
                              <li><a class="dropdown-item" href="#lithuanian">Lithuanian</a></li>
                              <li><a class="dropdown-item" href="#macedonian">Macedonian</a></li>
                              <li><a class="dropdown-item" href="#malay">Malay</a></li>
                              <li><a class="dropdown-item" href="#malayalam">Malayalam</a></li>
                              <li><a class="dropdown-item" href="#maltese">Maltese</a></li>
                              <li><a class="dropdown-item" href="#mongolian">Mongolian</a></li>
                              <li><a class="dropdown-item" href="#nepali">Nepali</a></li>
                              <li><a class="dropdown-item" href="#norwegian">Norwegian</a></li>
                              <li><a class="dropdown-item" href="#persian">Persian</a></li>
                              <li><a class="dropdown-item" href="#polish">Polish</a></li>
                              <li><a class="dropdown-item" href="#portuguese">Portuguese</a></li>
                              <li><a class="dropdown-item" href="#romanian">Romanian</a></li>
                              <li><a class="dropdown-item" href="#russian">Russian</a></li>
                              <li><a class="dropdown-item" href="#serbian">Serbian</a></li>
                              <li><a class="dropdown-item" href="#slovak">Slovak</a></li>
                              <li><a class="dropdown-item" href="#slovenian">Slovenian</a></li>
                              <li><a class="dropdown-item" href="#swahili">Swahili</a></li>
                              <li><a class="dropdown-item" href="#swedish">Swedish</a></li>
                              <li><a class="dropdown-item" href="#tamil">Tamil</a></li>
                              <li><a class="dropdown-item" href="#telugu">Telugu</a></li>
                              <li><a class="dropdown-item" href="#thai">Thai</a></li>
                              <li><a class="dropdown-item" href="#turkish">Turkish</a></li>
                              <li><a class="dropdown-item" href="#ukrainian">Ukrainian</a></li>
                              <li><a class="dropdown-item" href="#urdu">Urdu</a></li>
                              <li><a class="dropdown-item" href="#uzbek">Uzbek</a></li>
                              <li><a class="dropdown-item" href="#vietnamese">Vietnamese</a></li>
                              <li><a class="dropdown-item" href="#welsh">Welsh</a></li>
                              <li><a class="dropdown-item" href="#yiddish">Yiddish</a></li>
                              <li><a class="dropdown-item" href="#zulu">Zulu</a></li>
                          </ul>
                      </li>
                </ul>
            </div>
            <div class="col-md-1 g-3 d-flex justify-content-center" style="width:1.5%">
                <i class="fas fa-arrows-rotate fa-xl"></i>
            </div>

            <div class="col">
                <ul class="nav nav-tabs" style="padding-left:10px" >
                    <li class="nav-item">
                        <a class="nav-link language-bar" aria-current="page" href="#">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link language-bar" aria-current="page" href="#">Spanish</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle language-bar" id="dropdownMenuLink1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                        <ul id="myDropdown1" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><input type="text" placeholder="Search..." style="padding: 20px 16px;" id="myInput1" onkeyup="filterFunction1()"></li>
                            <li><a class="dropdown-item" href="#afrikaans">Afrikaans</a></li>
                            <li><a class="dropdown-item" href="#albanian">Albanian</a></li>
                            <li><a class="dropdown-item" href="#arabic">Arabic</a></li>
                            <li><a class="dropdown-item" href="#armenian">Armenian</a></li>
                            <li><a class="dropdown-item" href="#azerbaijani">Azerbaijani</a></li>
                            <li><a class="dropdown-item" href="#belarusian">Belarusian</a></li>
                            <li><a class="dropdown-item" href="#bengali">Bengali</a></li>
                            <li><a class="dropdown-item" href="#bulgarian">Bulgarian</a></li>
                            <li><a class="dropdown-item" href="#burmese">Burmese</a></li>
                            <li><a class="dropdown-item" href="#catalan">Catalan</a></li>
                            <li><a class="dropdown-item" href="#chinese">Chinese</a></li>
                            <li><a class="dropdown-item" href="#croatian">Croatian</a></li>
                            <li><a class="dropdown-item" href="#czech">Czech</a></li>
                            <li><a class="dropdown-item" href="#danish">Danish</a></li>
                            <li><a class="dropdown-item" href="#dutch">Dutch</a></li>
                            <li><a class="dropdown-item" href="#estonian">Estonian</a></li>
                            <li><a class="dropdown-item" href="#filipino">Filipino</a></li>
                            <li><a class="dropdown-item" href="#finnish">Finnish</a></li>
                            <li><a class="dropdown-item" href="#french">French</a></li>
                            <li><a class="dropdown-item" href="#georgian">Georgian</a></li>
                            <li><a class="dropdown-item" href="#german">German</a></li>
                            <li><a class="dropdown-item" href="#greek">Greek</a></li>
                            <li><a class="dropdown-item" href="#hebrew">Hebrew</a></li>
                            <li><a class="dropdown-item" href="#hindi">Hindi</a></li>
                            <li><a class="dropdown-item" href="#hungarian">Hungarian</a></li>
                            <li><a class="dropdown-item" href="#icelandic">Icelandic</a></li>
                            <li><a class="dropdown-item" href="#indonesian">Indonesian</a></li>
                            <li><a class="dropdown-item" href="#italian">Italian</a></li>
                            <li><a class="dropdown-item" href="#japanese">Japanese</a></li>
                            <li><a class="dropdown-item" href="#kazakh">Kazakh</a></li>
                            <li><a class="dropdown-item" href="#korean">Korean</a></li>
                            <li><a class="dropdown-item" href="#kyrgyz">Kyrgyz</a></li>
                            <li><a class="dropdown-item" href="#latvian">Latvian</a></li>
                            <li><a class="dropdown-item" href="#lithuanian">Lithuanian</a></li>
                            <li><a class="dropdown-item" href="#macedonian">Macedonian</a></li>
                            <li><a class="dropdown-item" href="#malay">Malay</a></li>
                            <li><a class="dropdown-item" href="#malayalam">Malayalam</a></li>
                            <li><a class="dropdown-item" href="#maltese">Maltese</a></li>
                            <li><a class="dropdown-item" href="#mongolian">Mongolian</a></li>
                            <li><a class="dropdown-item" href="#nepali">Nepali</a></li>
                            <li><a class="dropdown-item" href="#norwegian">Norwegian</a></li>
                            <li><a class="dropdown-item" href="#persian">Persian</a></li>
                            <li><a class="dropdown-item" href="#polish">Polish</a></li>
                            <li><a class="dropdown-item" href="#portuguese">Portuguese</a></li>
                            <li><a class="dropdown-item" href="#romanian">Romanian</a></li>
                            <li><a class="dropdown-item" href="#russian">Russian</a></li>
                            <li><a class="dropdown-item" href="#serbian">Serbian</a></li>
                            <li><a class="dropdown-item" href="#slovak">Slovak</a></li>
                            <li><a class="dropdown-item" href="#slovenian">Slovenian</a></li>
                            <li><a class="dropdown-item" href="#swahili">Swahili</a></li>
                            <li><a class="dropdown-item" href="#swedish">Swedish</a></li>
                            <li><a class="dropdown-item" href="#tamil">Tamil</a></li>
                            <li><a class="dropdown-item" href="#telugu">Telugu</a></li>
                            <li><a class="dropdown-item" href="#thai">Thai</a></li>
                            <li><a class="dropdown-item" href="#turkish">Turkish</a></li>
                            <li><a class="dropdown-item" href="#ukrainian">Ukrainian</a></li>
                            <li><a class="dropdown-item" href="#urdu">Urdu</a></li>
                            <li><a class="dropdown-item" href="#uzbek">Uzbek</a></li>
                            <li><a class="dropdown-item" href="#vietnamese">Vietnamese</a></li>
                            <li><a class="dropdown-item" href="#welsh">Welsh</a></li>
                            <li><a class="dropdown-item" href="#yiddish">Yiddish</a></li>
                            <li><a class="dropdown-item" href="#zulu">Zulu</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-md-fluid border d-flex justify-content-center align-items-center" style="height:300px">
        <div class="row no-gutters" id="innerfilecontainer">
            <div class="col-md-1">
                <i class="fa fa-file-lines my-3 my-icon-file" style="font-size: 2.2em;"></i>
            </div>
            <div class="col" style="margin-top:10px">
                <div class="row" style="margin-bottom: 0;">
                    <p><span id="filename" style="font-weight: bold;"></span></p>
                </div>
                <div class="row" style="margin-top: -20px;">
                    <p><span id="filesize"></span></p>
                </div>
            </div>
            <div class="col-md-1">
                <span class="btn" onclick="handleButtonClick()">
                    <i class="fa fa-xmark" style="font-size: 2em;"></i>
                </span>
            </div>
        </div>
        <div class="row" id="buttoncontainer">
            <div class="col-md-1"></div>
            <div class="col"></div>
            <div class="col-md-1"> <button type="button" class="btn btn-primary">Translate</button></div>
        </div>
    </div>
    <script>
        const get_filename = localStorage.getItem("selectedFileName");
        const filename = document.getElementById("filename");
        const get_filesize = localStorage.getItem("selectedFileSize");
        const filesize = document.getElementById("filesize");
        filename.textContent = get_filename;
        filesize.textContent = get_filesize;

    </script>
        <script src="{{ url_for('static', filename='styles/node_modules/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>

</body>
</html>