<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/55cf989cad.js" crossorigin="anonymous"></script>
</head>
    <body>
        <span class="btn btn-primary btn btn-file">
            Browse your computer <input type="file" id="file_name" onchange="handleFileSelect(event)">
        </span>

        <div class="container-md-fluid border" style="height:300px">
            <div class="row no-gutters" style="width:500px;">
                <div class="container my-5" id="filecontainer">
                    <!--width: 500px; -->
                    <div class="col">
                        <i class="fa fa-file-lines my-4 my-icon-file" style="font-size: 2.2em;"></i>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p><span id="filename" style="font-weight: bold;"></span></p>
                        </div>
                        <div class="row">
                            <p><span id="filesize" style="font-weight: bold;"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="test.js"></script>
    </body>
</html>